* {
  box-sizing: border-box;
}
p{
  position: relative;
  margin: 15px;
  padding: 20px;
  background-color: gray;
  color: black;
  border: 1px solid black;
  font-weight: bold;
  font-family: Helvetica;
}
span{
  position: absolute;
  top:0px;
  right:0px;
  padding-right: 25px;
  padding-left: 25px;
  border: 1px solid black;
  font-family: Helvetica;
  font-weight: bold;
}
div{
  position: relative;
  padding-right: 2px;
}
.row{
  width: 100; 
}
#Chicken {
  background-color: pink;
  color: black;
}
#Beef {
  background-color: red;
  color: white;
}
#Sushi {
  background-color: yellow;
  color: black;
}

/* LARGE */
@media (min-width: 992px){
	.col-md-4{
		float: left;
	}
	.col-md-4{
		width: 33%;
	}
}
/* Medium */
@media (min-width: 768px) and (max-width: 991px){
	.col-sm-6, .col-sm-12{
		float:left;
	}
	.col-sm-6{
		width: 50%;
	}
  .col-sm-12{
    width: 100%;
  }
}